# Ignore backend virtual environment
venv/

# Ignore backend environment local file for environment configuration
.env.local

# Ignore Google API credentials and token in root directory
credentials.json
token.json

# Ignore vscode dir and settings
.vscode/

# Ignore all .DS_Store files
.DS_Store 
